@keyframes moveToLeft {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bg-green-light {
    background-color: #F2F3E9;
}

.grey-text {
    color: #9e9e9e !important;
}

body {
    font-size: 1rem;
    position: relative;
    height: 100%;
}

section {
    overflow: hidden
}

/* NAVBAR */
.navbar-brand {
    max-width: 67%;
}

.navbar-toggler {
    padding: .25rem .35rem;
}

.navbar-toggler:focus {
    outline: 1px dotted;
    outline: 5px auto #92644C;
}

#navbarSupportedContent {
    transition: height 1s ease;
} 

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .active {
    background-color: #FBFCF8;
}

.nav-link {
    color: #92644C !important;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    line-height: 3;
}

#displayLoginModal {
    padding: .5rem 0.5rem
}
#displayLoginModal i {
    font-size: 1.3rem;
    vertical-align: middle;
}

#displayLoginModal span:hover {
    text-decoration: underline;
}

#displayLoginModal span {
    border-left: 2px solid#92644C;
    padding-left: .8rem;
    font-size: .9rem;
}

/* INTRODUCTION SECTION */
#introduction {
    background-color: #988469;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='314' height='314' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23514636' stroke-width='2.7' stroke-opacity='0.1'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    margin-top: 2.5rem;
}

#title {
    font-size: 2.1rem;
    font-style: italic;
    text-shadow: 3px 5px 2px #474747;
    z-index: 2;
}

#introduction-form {
    background-color: rgb(144 38 28 / 0.8);
    border-radius: 1rem;
    color: #fff;
    z-index: 2;
    max-width: 277px;
    animation: moveToLeft 2s;
}

#introduction-form p {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
}

.absolute-wrapper {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 4rem;
    left: 0;
}

#bg-image {
    opacity: 0.4;
    z-index: 1;
}

/* FEATURE SECTION */
#feature {
    gap: 1rem;
}

.icon {
    width: 5rem;
    margin-right: 1rem;
}

/* HOWITWORKS SECTION */
#howitworks {
    background: #E6E8D3;
}
.step-container {
    min-width: 22%;
}

.step-img {
    height: 6rem;
    width: 6rem;
}

/* PRODUCTS SECTION */
.card-product {
    max-width: 15rem;
    min-width: 9rem;
}
.card img {
    width: 100%;
    height: auto;
}

.card-product .btn:hover {
    transform: translateX(0.2rem)
}

.card-artisan {
    position: absolute;
    width: 45%;
    top: -3rem;
    left: -1rem;
    transition: transform .2s;
}
.card-artisan img {
    width: 100%;
    height: auto;
}

.card-artisan .card-title {
    position: absolute;
    bottom: 0.7rem;
    width: 100%;
    text-align: center;
    font-size: .8em;
    font-family: serif;
    font-style: oblique;
    font-weight: bolder;
}

.card-artisan .card-img-overlay {
    padding: 0;
    bottom: -1rem;
}

.card-artisan h5 {
    color: #343a40;
}

.card-artisan:hover {
    transform: scale(1.1);
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.more-products:hover {
    transform: scale(1.1);
}

/* FOOTER */
.footer-menu a i {
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem 1.5rem;
}

#contactForm .form-group {
    min-height: 93px;
    margin-bottom: 0.25px;
}

#contactForm #messageFormGroup {
    min-height: 196px;
    margin-bottom: 0.25px;
}

/* LOGIN MODAL */
.modal-dialog .modal-content {
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.modal input:focus {
    border: 0;
}

#loginModal .form-group {
    height: 90px;
}

#loginModal .form-control {
    padding: 0 1rem;
    box-sizing: border-box !important;
}

#loginModal .prefix {
    -webkit-transition: color .2s;
    transition: color .2s;
    font-size: 1.75rem;
}

#loginModal .prefix ~ input {
    width: calc(100% - 2.5rem);
    margin-left: 2.5rem;
}

#loginModal input[type="password"], 
#loginModal input[type="text"],
#loginModal input[type="email"] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #6c757dfa;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#loginModal input[type="password"].is-valid:not(:focus), 
#loginModal input[type="text"].is-valid:not(:focus),
#loginModal input[type="email"].is-valid:not(:focus) {
    border-bottom: 1px solid #5DBC73;
    -webkit-box-shadow: 0 1px 0 0 #5DBC73;
    box-shadow: 0 1px 0 0 #5DBC73;
}

#loginModal input[type="password"].is-invalid:not(:focus), 
#loginModal input[type="text"].is-invalid:not(:focus),
#loginModal input[type="email"].is-invalid:not(:focus) {
    border-bottom: 1px solid #dc3545;
    -webkit-box-shadow: 0 1px 0 0 #dc3545;
    box-shadow: 0 1px 0 0 #dc3545;
}

#loginModal input:focus[type="password"],
#loginModal input:focus[type="text"],
#loginModal input:focus[type="email"] {
    border-bottom: 1px solid #206be8;
    -webkit-box-shadow: 0 1px 0 0 #206be8;
    box-shadow: 0 1px 0 0 #206be8;
}

#loginModalinput::placeholder{
    color: #6c757dfa;
    font-size: 0.98rem;
}

#loginModal label {
    margin: 0;
}

#loginModal label[for$="Input"], #loginModal label[for$="Dropdown"] {
    color: transparent;
    font-size: 0.8rem;
} 

#loginModal input[type="password"]:not(:placeholder-shown) + label,
#loginModal input[type="text"]:not(:placeholder-shown) + label,
#loginModal input[type="email"]:not(:placeholder-shown) + label {
    color: #6c757dfa;
} 

#loginModal input:focus[type="password"]:not(:placeholder-shown) + label,
#loginModal input:focus[type="text"]:not(:placeholder-shown) + label,
#loginModal input:focus[type="email"]:not(:placeholder-shown) + label {
    color: #206be8;
}

.modal .btn {
    background-color: #206be8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; 
}

.modal .btn:hover {
    opacity:1;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    padding-right: 0px !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    padding-right: 0px !important;
}

#registerModalContent {
    display: none;
}

#registerModalContent .form-check {
    padding-left: 48px;
}

#registerProvinceDropdown, #registerProvinceDropdown option {
    color: #6c757dfa;
} 

#registerProvinceDropdown:invalid, #registerProvinceDropdown[value=""] {
    color: #6c757dfa;
} 

select:valid + label {
    color: #6c757dfa !important;
}

select:focus + label {
    color: #206be8 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a;
}

select:hover > option:hover {
    background: #206be8 !important;
}

@media (min-width: 576px) { 
    
    .card-product {
        max-width: 21%;
        min-width: 12rem;
    }
    .card-artisan {
        left: -4rem;
    }

    .md-form label {
        left: 4.5rem;
    }
}

@media (min-width: 768px) { 
    #navbar-menu {
        margin-right: 8rem;
    }
    
    #displayLoginModal {
        position: absolute;
        right:0.5rem;
    }
 }
